@import "compass/css3";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    background-color: #fff;
    overflow-x: hidden;

    path {
        opacity: 0.5;
        @include transition(opacity 0.3s);

        &:hover{
            opacity: 1;
        }

    }

}
